* { margin: 0; padding: 0; }

#Navigation{
    
    color: white;
    font-family: Vladimir Script;
    font-size: 25px;
    background-color:rgb(75, 94, 93);
    word-spacing: 25px;
}
#Navigation a:link,
#Navigation a:visited{
   color: white;
   text-decoration: none;
}
#Navigation a:hover {
    color: rgb(65, 175, 170);
    text-decoration: none;
}


#Home{
    background-color: rgb(55, 0, 55);    
}
#Welcome{
    margin-left: 35px;
    font-size: 42px;
    color: white;
    font-family: Bookman Old Style;
    font-style: italic;   
}
#Title{
    color: white;
    font-family: Vladimir Script;
    font-size: 72px;
    margin-left: 165px;
}
#Welcomep2{
    margin-left: 200px;
    color: white;
    font-size: 42px;
    font-family: Bookman Old Style;
    font-style: italic;
}
#DonationOptions a:link,
#DonationOptions a:visited,
#DonationOptions a:hover{
    margin-left: 165px;
    
    color: rgb(55,0,55);
    background-color: white;
    font-size: 36px;
    text-decoration: none;
    font-family: Bookman Old Style;
}
#DonationQuestion{
    color: white;
    font-family: Vladimir Script;
    margin-left: 35px;
    font-size: 56px;
}


#AboutUs{
    background-color: rgb(65, 175, 170)
}
#AboutUsTitle{
    color: white;
    font-family: Vladimir Script;
    font-size: 42px;
    margin-left: 35px;
}


#ContactUs{
    background-color: rgb(75, 94, 93)
}
#ContactUsTitle{
    color: white;
    font-family: Vladimir Script;
    font-size: 42px;
    margin-left: 35px;
}