* { margin: 0; padding: 0; }

#Navigation{
    width: 100%;
    margin-left: 0px;
    position:fixed;
    top: 0; 
    color: white;
    font-family: Vladimir Script;
    font-size: 25px;
    background-color:rgb(75, 94, 93);
    word-spacing: 25px;
}
#Navigation a:link,
#Navigation a:visited{
    padding: 0px 25px;
    color: white;
    text-decoration: none;
}
#Navigation a:hover {
    color: rgb(65, 175, 170);
    text-decoration: none;
    background-color: rgb(60, 79, 78) 
}


#Home{
    background-color: rgb(55,0,55);;    
}
#Welcome{
    float:left;
    margin-left: 285px;
    font-size: 30px;
    color: white;
    font-family: Bookman Old Style;
    font-style: italic;   
}
#Title{
    color: white;
    width: 100%;
    margin: 0 auto;  
    text-align: center; 
    font-family: Vladimir Script;
    font-size: 72px;
    
}
#Welcomep2{
    float: right;
    margin-right: 75px;
    color: white;
    font-size: 30px;
    font-family: Bookman Old Style;
    font-style: italic;
}

#DonationOptions{
    word-spacing: 75px;
    width: 100%;
    margin: auto;
    text-align: center;
    /*margin-left: 295px*/
}
#DonationOptions a:link,
#DonationOptions a:visited{
    padding: 20px 30px;
    color: rgb(55,0,55);
    background-color: white;
    font-size: 36px;
    text-decoration: none;
    font-family: Bookman Old Style;
}
#DonationOptions a:hover{
    font-style: italic;
}
#DonationQuestion{
    color: white;
    font-family: Vladimir Script;
    margin-left: 35px;
    font-size: 36px;
}


#AboutUs{
    background-color: rgb(65, 175, 170)
}
#AboutUsTitle{
    color: white;
    font-family: Vladimir Script;
    font-size: 50px;
    margin-left: 35px;
}
#AboutUsInfo{
    color: white;
    font-family: Bookman Old Style;
    margin-left: 35px;
    font-size: 24px;
    font-style: bold;
    float: left;
    width: 40%;
}
#AboutUsImage{
    float: right;
    margin-right: 35px;
    
}
#AboutUsInfo a:link,
#AboutUsInfo a:visited{
    color: rgb(55,0,55);
    font-size: 24px;
    text-decoration: none;
    font-family: Bookman Old Style;
}
#AboutUsInfo a:hover{
    font-style: italic;
}

#ContactUs{
    background-color: rgb(85, 104, 103)
}
#ContactUsInfo img{
    float: left;
    margin-left: 90px;
}
#ContactUsTitle{
    color: white;
    font-family: Vladimir Script;
    font-size: 50px;
    float: right;  
    width: 55%;
}
#ContactForm{
    width: 55%;
    color: white;
    font-family: Bookman Old Style;
    font-size: 24px;
    float: right;
    margin-right: 35px;
}


