* { margin: 0; padding: 0; }

#Navigation{
    width: 100%;
    margin-left: 0px;
    position:fixed;
    top: 0; 
    color: white;
    font-family: Vladimir Script;
    font-size: 25px;
    background-color:rgb(75, 94, 93);
    word-spacing: 25px;
}
#Navigation a:link,
#Navigation a:visited{
    padding: 0px 25px;
    color: white;
    text-decoration: none;
}
#Navigation a:hover {
    color: rgb(65, 175, 170);
    text-decoration: none;
    background-color: rgb(60, 79, 78) 
}


#HomeTitle{
    background-color: rgb(55,0,55); 
}
#TitleTitle{
    color: white;
    font-family: Vladimir Script;
    font-size: 50px;
    margin-left: 35px;
}
#infoTitle{
    color: white;
    font-family: Bookman Old Style;
    margin-left: 35px;
    font-size: 20px;
    font-style: bold;
    
}
#giveTitle{
    color: white;
    font-family: Vladimir Script;
    font-size: 31px;
    margin-left: 35px;
}
#moneycheck{
    color:white;
    font-family: Bookman Old Style;
    margin-left: 35px;
    font-size: 14px;
    font-style: bold;
    word-spacing: 60px;
}